body{
    padding: 0;
    margin: 0;
}
span{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.container{
    margin-left: 29em;
    margin-top: 6rem;
}
input{
    margin-top: 3px;
}
.input > input, select{
    position: relative;
    outline: none;
    border: none;
    background: none;
    padding: 0.5rem 0.7rem;
    color: #000;
    border-bottom: 2px solid #756f6f;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: 7% 93%;
}
.btn{
    display: block;
    width: 30%;
    height: 40px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #00beff, #00beff);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
}
.btn:active{
    background-color: rgba(194, 194, 184, 0.933);
}
@media screen and (max-width:1000px){
    .container{
        margin-left: 20em;
    }
    .btn{
        width: 43%;
        border-radius: 17px;
    }
}
@media screen and (max-width: 700px){
    .container{
        margin-left: 7em;
    }
}
