.svgClass{
	position: absolute;
	background-size: cover;	
	margin-left: 18vw;
	height: 81vh;
	width: 70vw;
	z-index: -50;
	top: 18vh;
	opacity:0.7;
	padding:0px;
}

@media (max-width: 800px) {
	.svgClass{
		width: 80vw;
		top: 20vh;
		margin-left: 10vh;
	}
	
}
@media (max-width: 672px) { 
		.svgClass{
		width: 90vw;
		top: 15vh;
		margin-left: 0vh;
	}

}


/*
.st0{fill:#F5F5F5;	
}
.st1{opacity:0.1;enable-background:new    ;}

/*present status 
.st2{fill:#F5F5F5;
	animation: st2 3s infinite;
}
@keyframes st2{
	0%{  fill:#3AD29F  }
	50%{  fill:#F5F5F5 }
	100%{ fill:#3AD29F  }
}

.st3{fill:none;stroke:#FFFFFF;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
.st4{opacity:0.4;}
small eclipse 
.st5{opacity:0.3;enable-background:new    ;}

large eclipse 
.st6{opacity:0.3;fill:#F5F5F5;enable-background:new    ;
animation: st6 3s infinite;}
@keyframes st6{
	0%{  fill:#3AD29F  }
	50%{  fill:#F5F5F5   }
	100%{ fill:#3AD29F }
}

.st7{opacity:0.1;fill:#FFFFFF;enable-background:new    ;}
.st8{opacity:0.5;}
/*green particle
.st9{fill:#47E6B1;
	animation: st9 10s infinite;}
@keyframes st9{
	0%{ transform: translateX(0%); }
	50%{ transform: translateX(20%);  }
	100%{ transform: translateX(0%);}
}		
/* blue  particle
.st10{opacity:0.5;fill:#4D8AF0;enable-background:new    ;
	animation: st10 10s infinite;
	}
@keyframes st10{
	0%{ transform: translateY(0%); }
	50%{ transform: translateY(20%);  }
	100%{ transform: translateY(0%);}
}	
/* orange particle 
.st11{opacity:0.5;fill:#F55F44;enable-background:new    ;
animation: st11 10s infinite;}
@keyframes st11{
	0%{ transform: translate(10%,10%); }
	50%{ transform: translate(20%,30%);  }
	100%{ transform: translate(10%,10%);}
}		
.st12{opacity:0.5;fill:#47E6B1;enable-background:new    ;}
.st13{fill:#6C63FF;}
.st14{fill:#FFB9B9;}
/* clicking hand
.st014{fill:#FFB9B9;
	animation: st014 3s infinite;
}
@keyframes st014{
	0%{ transform: rotate(0deg) }
	50%{ transform: rotate(1deg)  }
	100%{ transform: rotate(0deg) }
}

.st15{fill:#02485B;}
.st16{fill:#575A89;}
.st17{fill:#00BEFF;}
.st18{fill:#242426;}
.st19{fill:#2F2E41;}


@media (max-width: 800px) {
.svg{
	position: absolute;
	
	width: 70vw;
	margin-left: 10vw;
	
	top: 10vh;
}

}
@media (max-width: 672px) {
.svg{
	position: absolute;
	
	width: 95vw;
	margin-left: -30px;	
	top: 10vh;
}


} */