body{
	margin: 0;
	font-family:sans-serif;
	font-weight: 350;
	z-index: 2;
}
.navigation{
	width: 80%;
	margin: 0 auto;
}
.background_image{
	background: url("../Images/white.jpg");
	height: 1000px;
	background-size: cover;
	position: fixed;
	right: 0px;
	left: 0px;
	z-index: -1;
}
.background_image2{
	background: url("../Images/Charts.svg");
	background-size: cover;
	width: 1000px;
	height: 600px;
	position: fixed;
	right: 100px;
	left: 180px;
	top: 200px;
	opacity: 0.4;
	z-index: 0;
}
header{
			background:#00BEFF;
			}

header::after{
			content: '';
			display: table;
			clear: both;
		}

nav ul >li>a{
			color: white;
			text-underline-position: none;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 25px;

		}
nav ul >li>a:hover{
			color: white;
			
		}
nav{		
			float: right;
		}
nav ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}
nav li{
			display: inline-block; 
			margin-left: 70px;
			padding-top: 25px;
			padding-bottom: 25px;
			position: relative;
		}
		
nav a::before{
			content: '';
			display: block;
			height: 5px;
			width: 100%;
			background-color: white;
			position: absolute;
			top :0 ;
			width: 0% ;
			transition: all ease-in-out 250ms;
			font-style: bold;

		}
nav a:hover::before{
			width: 100%;

		}