*{
	padding: 0;
	margin: 0;


	}
}
.container{
	width: 100%;

}
	
img{	position: absolute;
		background-repeat: no-repeat;
		opacity: 0;
	}
h1{
	width: 100%;
	font-family: 'Poppins', sans-serif;
	font-size: 75px;
	position: absolute;
	left:100px;
	top: 60px;
	color: black;
	}
a{
	text-decoration: none;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-size: 40px;

	}
button{
	background-color: #00beff;
	border-radius: 50px;
	border:none;
}
#btn1{
		position: absolute;
		padding: 10px 60px; 
		left:  100px;
		top: 200px;
	}
#btn2{
		position: absolute;
		padding: 10px 60px; 
		left:  100px;
		top: 300px;
	}
#btn3{
		position: absolute;
		padding: 10px 80px; 
		left:  100px;
		top: 400px;
	}

@media only screen and (min-width: 768px){
	
	img{position: absolute;
		background-repeat: no-repeat;
		opacity: 0.5;
		left: -55px;
		top: -100px;
		width: 800px;
		height: 800px;
	}
	h1{
	left:250px;
	top: 60px;
	}
	#btn1{
		position: absolute;
		padding: 10px 60px; 
		left:  250px;
		top: 200px;
	}
	#btn2{
		position: absolute;
		padding: 10px 60px; 
		left:250px;
		top: 350px;
	}
	#btn3{
		position: absolute;
		padding: 10px 80px; 
		left:  250px;
		top: 500px;
	}


}
@media only screen and (min-width: 1000px){
	img{position: absolute;
		background-repeat: no-repeat;
		opacity: 0.5;
		left: 300px;
		top: -140px;
		width: 1000px;
		height: 1000px;
	}
	
	h1{
	left:600px;
	top: 60px;
	}
	#btn1{
		position: absolute;
		padding: 10px 60px; 
		left:600px;
		top: 200px;
	}
	#btn2{
		position: absolute;
		padding: 10px 60px; 
		left:600px;
		top: 350px;
	}
	#btn3{
		position: absolute;
		padding: 10px 80px; 
		left:600px;
		top: 500px;
	}


}

