body{
	margin: 0;
	font-family: sans-serif;
	font-weight: 350;
	background-image: url("../Images/pattern.jpg");
}
.labeldate{
	position: relative;
	margin-top: 55px;
	margin-left: 900px;
}

input{
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
	color: #FF462B;
}

.clearfix{
	clear: both;
}

.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}


.calendar{

	position: absolute;
	margin-top: 230px;
	margin-left: 150px;
	font-weight: 500;
	font-size: 28px;
}

.label1{
	position: absolute;
	font-size: 30px;
	font-weight: 600;
	top: 130px;
	left: 150px;
}
select, option {
	 width: 240px;
	  }

.btn1{
	font-family: 'Poppins', sans-serif;
	display: block;
	position: absolute;
	left: 1210px;
	top: 110px;
    width: 5%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #00beff, #00beff);
    background-size: 200%;
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
}

.batch_select{
	position: absolute;
	top: 125px;
	left:460px;
	font-size: 20px;
	padding: 8px 12px;
	color: #333333;
	background-color: ;
	border:2px solid #dddddd;
	cursor: pointer;
	border-radius: 5px;
}


.subject_select{
	position: absolute;
	top: 125px;
	left:710px;
	font-size: 20px;
	padding: 8px 12px;
	color: #333333;
	background-color: ;
	border:2px solid #dddddd;
	cursor: pointer;
	border-radius: 5px;
}
.date_class{
	position: absolute;
	left:963px;
	top: 125px;
	width: 237px;
	height: 43px;
	font-size: 20px;
	padding: 8px 12px;
	color: #333333;
	background-color: ;
	border:2px solid #dddddd;
	cursor: pointer;
	border-radius: 5px;

}
#batch_name{
	font-weight: 500;
	position: absolute;
	font-size: 28px;
	top: 200px;
	left: 150px;
	 
}
#subject_name{
	font-weight: 500;
	position: absolute;
	font-size: 28px;
	top: 250px;
	left: 150px;
	 
}
input{
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
	color: #FF462B;
}


.clearfix{
	clear: both;
}

.calendar .days li .event{
	color: #F5A1A3;
} 

ms-input-placeholder {color: #ffffff; }


.navigation{
	width: 80%;
	margin: 0 auto;

}
header{
	position: fixed;
	width: 100%;
	background:#00BEFF;
	z-index: 1;
	overflow: auto;
}

header::after{
			content: '';
			display: table;
			clear: both;
		}
.fix{
	padding-top: 80px;
}

nav ul >li>a{
			color: white;
			text-underline-position: none;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 25px;

		}
nav ul >li>a:hover{
			color: white;
			
		}
nav{
			float: right;
		}
nav ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}
nav li{
			display: inline-block; 
			margin-left: 70px;
			padding-top: 25px;
			padding-bottom: 25px;
			position: relative;
		}
		
nav a::before{
			content: '';
			display: block;
			height: 5px;
			width: 100%;
			background-color: white;
			position: absolute;
			top :0 ;
			width: 0% ;
			transition: all ease-in-out 250ms;
			font-style: bold;

		}
nav a:hover::before{
			width: 100%;

		}

.table1{
	font-size: 20px;
	border-collapse: collapse;
	margin: 250px 900px;
	min-width: 600px;
	text-align: left;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
thead tr{
	background-color: #009879;
	color:white;
	height: 30px;
	font-weight: bold;
}
td{
	padding: 12px 15px;
}
tbody tr{
	border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;}

tbody tr:last-of-type {
	border-bottom: 2px solid #00beff;
}

.labeldate{
	font-size: 20px;
}
h1{
	font-size: 20px;
}