* {
    box-sizing: border-box;
}
body{
	margin: 0;
	font-family:sans-serif;
	font-weight: 350;
	background-image: url("../Images/pattern.jpg");
}
.labeldate{
	position: relative;
	margin-top: 55px;
	margin-left: 900px;
}

input{
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
	color: #FF462B;
}

.clearfix{
	clear: both;
}

.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }

header{
	position: fixed;
	width: 100%;
	background:#00BEFF;
	z-index: 1;
	overflow: auto;
}
header::after{
			content: '';
			display: table;
			clear: both;
		}
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #00BEFF;
    color: white;
}

.brand-title {
    font-size: 2rem;
    margin: .5rem;
    align-content: center;
    text-transform: uppercase;
}

.navbar-links {
    height: 100%;
    right: 30px;
    /*margin-right: 30px;*/
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;

}

.navbar-links li {
    list-style: none;
    margin-right: 40px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding: 1.65rem;
    font-size: 25px;
}
.navbar-links li::before{
			content: '';
			display: block;
			height: 5px;
			background-color: white;
			bottom: 0 ;
			width: 0% ;
			transition: all ease-in-out 250ms;
			font-style: bold;
		}
.navbar-links li:hover::before{
			width: 100%;
			background-color: white;
		}
		.navbar-links li:hover{
			background-color:#319fff;
		}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
.fix{
	padding-top: 90px;
}

.table1{
	font-size: 20px;
	border-collapse: collapse;
	margin: 100px 900px;
	min-width: 600px;
	text-align: left;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
thead tr{
	background-color: #009879;
	color:white;
	height: 30px;
	font-weight: bold;
}
td{
	padding: 12px 15px;
}
tbody tr{
	border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;}

tbody tr:last-of-type {
	border-bottom: 2px solid #00beff;
}

.labeldate{
	font-size: 20px;
}
h1{
	font-size: 20px;
}