body{
	margin: 0;
	font-family:sans-serif;
	font-weight: 350;
	background-image: url("../Images/pattern.jpg");

}
.labeldate{
	position: relative;
	margin-top: 55px;
	margin-left: 900px;
}

input{
	font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
	margin-bottom: 10px;
}

p{
	line-height: 20px;
}

a{
	text-decoration: none;
	color: #FF462B;
}

.clearfix{
	clear: both;
}

.animate{
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
/* placeholder color */
::-webkit-input-placeholder {color: #ffffff; }
:-moz-placeholder {color: #ffffff; }
::-moz-placeholder {color: #ffffff; }
:-ms-input-placeholder {color: #ffffff; }


.navigation{
	width: 80%;
	margin: 0 auto;


}
header{
	position: fixed;
	width: 100%;
	background:#00BEFF;
	z-index: 1;
	overflow: auto;
}

header::after{
			content: '';
			display: table;
			clear: both;
		}

nav ul >li>a{
			color: white;
			text-underline-position: none;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 25px;

		}
nav ul >li>a:hover{
			color: white;
			
		}
nav{
			float: right;
		}
nav ul{
			margin: 0;
			padding: 0;
			list-style: none;
		}
nav li{
			display: inline-block; 
			margin-left: 70px;
			padding-top: 25px;
			padding-bottom: 25px;
			position: relative;
		}
		
nav a::before{
			content: '';
			display: block;
			height: 5px;
			width: 100%;
			background-color: white;
			position: absolute;
			top :0 ;
			width: 0% ;
			transition: all ease-in-out 250ms;
			font-style: bold;

		}
nav a:hover::before{
			width: 100%;

		}

.table1{
	font-size: 20px;
	border-collapse: collapse;
	margin: 100px 900px;
	min-width: 600px;
	text-align: left;
	border-radius: 5px 5px 0 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
thead tr{
	background-color: #009879;
	color:white;
	height: 30px;
	font-weight: bold;
}
td{
	padding: 12px 15px;
}
tbody tr{
	border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
	background-color: #f3f3f3;}

tbody tr:last-of-type {
	border-bottom: 2px solid #00beff;
}

.labeldate{
	font-size: 20px;
}
h1{
	font-size: 20px;
}